.contacto{
    max-width: 100%;
}

.form{
    max-width: 80%;
    margin: auto;
    color: white;
    text-align: center;
}

#name{
    margin-top: 10px;
    width: 70%;
}
#mail{
    margin-top: 10px;
    width: 70%;
}
#message{
    margin-top: 10px;
    width: 70%;
}

#send{
    width: 50px;
    height: 25px;
    border-radius: 5px;
    color: white;
    background-color: rgb(60, 60, 60);
}
