* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0a;
  width: 80%;
  margin: 15px 10%;
  box-shadow: 0 0 400px 0 rgb(39, 39, 39);
}

/* --------HEADER---------- */
.position-relative {
  background-color: rgb(15, 15, 15);
}

#img-logo {
  max-height: 500px;
}

section .d-flex {
  max-width: 150px;
  max-height: 25px;
  bottom: 5%;
  right: 0;
}

.boton-nav {
  position: relative;
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  color: white;
  background: rgb(65, 65, 65);
}
.boton-nav a {
  text-decoration: none;
}
.boton-nav:hover {
  background: transparent;
  box-shadow: none;
}
.boton-nav:hover a {
  color: white;
}
.boton-nav:before, .boton-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: rgb(15, 15, 15);
  box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.2);
  transition: 400ms ease all;
}
.boton-nav:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.boton-nav:hover:before, .boton-nav:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.bg-propio {
  background-color: rgb(65, 65, 65);
}

.carousel-item {
  max-height: 600px;
}

/* ------MAIN------- */
.container-main {
  background-color: rgb(35, 35, 35);
  min-height: 200px;
  border-top: 5px solid #151515;
}
.container-main h1 {
  color: rgb(195, 195, 195);
  text-align: left;
  text-decoration: underline 1px;
  margin-left: 15%;
  padding: 20px;
  font-size: 35px;
}
.container-main section p {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 50px;
  text-align: left;
  color: white;
  font-size: 20px;
}
.container-main #cards {
  padding-bottom: 60px;
  max-width: 70%;
  margin: auto;
}
.container-main #cards .card1 {
  background-color: rgb(65, 65, 65);
  border: 1px solid rgb(65, 65, 65);
  width: 30%;
  text-align: center;
  transition: 0.3s;
}
.container-main #cards .card1:hover {
  box-shadow: 0 5px 5px 1px rgb(106, 106, 106);
}
.container-main #cards .card2 {
  background-color: rgb(35, 35, 35);
  border: 1px solid rgb(65, 65, 65);
  width: 30%;
  text-align: center;
  transition: 0.3s;
}
.container-main #cards .card2:hover {
  box-shadow: 0 5px 5px 1px rgb(106, 106, 106);
}
.container-main #cards .card3 {
  background-color: #0a0a0a;
  border: 1px solid rgb(65, 65, 65);
  width: 30%;
  text-align: center;
  transition: 0.3s;
}
.container-main #cards .card3:hover {
  box-shadow: 0 5px 5px 1px rgb(106, 106, 106);
}

.compania {
  max-width: 100%;
}
.compania img {
  max-width: 60%;
  margin-left: 20%;
}

.contacto {
  max-width: 100%;
}
.contacto .form {
  max-width: 80%;
  margin: auto;
  color: white;
  text-align: center;
}
.contacto .form #name {
  margin-top: 10px;
  width: 70%;
}
.contacto .form #mail {
  margin-top: 10px;
  width: 70%;
}
.contacto .form #message {
  margin-top: 10px;
  width: 70%;
}
.contacto .form #send {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  color: white;
  background-color: rgb(60, 60, 60);
  margin-bottom: 10px;
}

.fechas {
  max-width: 80%;
  margin: auto;
}

.fechas h3 {
  color: white;
}

.fechas-pasadas {
  list-style: none;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: start;
  padding-bottom: 10px;
  margin-bottom: 0rem;
}

.festivales {
  max-width: 100%;
}

.festivales h3 {
  border: solid 1px #fff;
  box-shadow: 0 0 10px 0 #fff;
  color: white;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  max-width: 60%;
}

.obras {
  max-width: 90%;
  margin: auto;
}
.obras h3 {
  color: white;
  text-align: center;
}
.obras p {
  color: white;
  text-align: center;
  margin-top: 10px;
}
.obras img {
  max-width: 50%;
  height: auto;
  margin-left: 25%;
  margin-top: 15px;
}
.obras iframe {
  align-self: center;
  margin-top: 15px;
  max-width: 80%;
  margin-bottom: 20px;
}
.obras .media {
  display: flex;
  flex-direction: column;
}

.container-main .title-taller h2 {
  color: white;
  font-size: 20px;
  text-align: center;
}
.container-main .title-taller p {
  color: white;
  max-width: 60%;
  margin: 20px auto;
  font-size: 20px;
  text-align: center;
}
.container-main #cards-taller {
  max-width: 90%;
  margin: auto;
}
.container-main #cards-taller .card, .container-main #cards-taller .carta {
  background-color: rgb(35, 35, 35);
  border: 1px solid rgb(108, 108, 108);
  min-width: 50%;
  color: white;
  margin: 10px;
  transition: 0.3s;
}
.container-main #cards-taller .card:hover, .container-main #cards-taller .carta:hover {
  box-shadow: 0 5px 5px 1px rgb(106, 106, 106);
}
.container-main .carta {
  max-width: 40%;
}
.container-main .carta > img {
  max-width: 100%;
}

/* -----MEDIA QUERY----- */
@media screen and (max-width: 1100px) {
  body {
    width: 80%;
    margin: 30px auto;
  }
  body .container-main section p {
    font-size: 20px;
  }
  body .container-main section h1 {
    font-size: 30px;
  }
  body .container-main #cards .card, body .container-main #cards .carta {
    margin: 10px;
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  body {
    width: 80%;
  }
  body .container-main h1 {
    font-size: 25px;
  }
  body .container-main section p {
    font-size: 15px;
  }
  body .container-main #cards {
    min-width: 90%;
  }
  body .container-main #cards .card, body .container-main #cards .carta {
    margin: 10px;
    width: 45% !important;
  }
  body .container-main #cards-taller .card, body .container-main #cards-taller .carta {
    margin: 10px;
    width: 44%;
  }
}
@media screen and (max-width: 500px) {
  body {
    width: 100%;
    margin-top: 0;
  }
  body #img-logo {
    min-height: 200px;
  }
  body #cards {
    width: 90%;
  }
  body #cards-taller .card, body #cards-taller .container-main .carta, .container-main body #cards-taller .carta {
    margin: 10px;
    width: 70% !important;
  }
}

/*# sourceMappingURL=main.css.map */
