
/* -----------BODY--------------- */
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #0a0a0a;
    border-radius: 15px;
    width: 55%;
    margin: 30px 22.5%;
    box-shadow: 0 0 400px 0 rgb(39, 39, 39);
}

/* --------HEADER---------- */

.tittle {
    display: flex;
    row-gap: 5px;
    border-radius: 5px;
    flex-wrap: nowrap;
    background-color: #131313;
}
.titulos{
    align-self: center;
    margin-left: 30px;
}
.titulos h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 0;
}

.titulos p {
    color: rgb(155, 155, 155);
    font-size: 25px;
    margin: 0;
}

.imgLogo{
    max-height: 250px;
    border-radius: 5px;
}

.buscador{
    flex-grow: 1;
    align-self: flex-end;
    justify-content: end;
}

.buscador-flex{
    display: flex;
    flex-direction: row-reverse;
}

.buscador-flex input {
    margin: 10px;
    width: 100px;
    height: 20px;
    border-radius: 5px;
}

.banner {
    width: 100%;
    max-height: 550px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
}

nav {
    width: 100%;
    min-height: 40px;
    background-color: rgb(65, 65, 65);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 40px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: rgb(205, 205, 205);
    color: gray;
}

/* ------MAIN------- */

.container {
    background-color: rgb(35, 35, 35);
    min-height: 200px;
}

.container h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 30px;
}

.container section p {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.3s;
    overflow: hidden;
}

.photos img {
    max-width: 40%;
    height: auto;
    margin: 10px;
    margin-bottom: 50px;
    transition: 0.3s;
    border-radius: 10px;
}
.photos img:hover {
    transform: scale(1.025);
}

/* ------FOOTER-------- */

.footer {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    width: 100%;
    height: 80px;
    background-color: #171717;
    text-align: center;
}

.footer p {
    grid-column: 2;
    margin: 0;
    padding: 25px;
    font-size: 17px;
    color: rgb(152, 152, 152);
}

/* -----MEDIA QUERY----- */

@media screen and (max-width: 1024px) {

    .imgFuera{
        display: none;
    }

    .imgFuera2{
        display: none;
    }
    body {
        width: 70%;
        margin: 30px auto
    }

    .container section p{
        font-size: 20px;
    }

    .titulos h1 {
        font-size: 32px;
    }

    .titulos p {
        font-size: 24px;
    }

    .container h1{
        font-size: 30px;
    }

    .banner {
        width: 100%;
        max-height: 400px;
        overflow: hidden;
    }

}


@media screen and (max-width: 768px) {

    body {
        width: 80%;
        margin: 30px auto
    }

    .titulos p {
        font-size: 20px;
    }

    .container section p{
        font-size: 15px;
    }

    .container h1{
        font-size: 25px;
    }

    .banner {
        width: 100%;
        max-height: 400px;
    }
}


@media screen and (max-width: 650px){

    body {
        width: 90%;
        margin: 30px auto
    }

    .imgLogo{
        max-width: 100px;
    }

    .titulos{
        align-self: center;
        margin: 0;
    }

    .titulos h1 {
        font-size: 25px;
    }

    .titulos p {
        font-size: 15px;
    }

    .buscador-flex input{
        max-width: 50px;
    }

}