/* -----MEDIA QUERY----- */

@media screen and (max-width: 1100px) {

    section .d-flex {
        max-height: 25px;
        max-width: 150px;
    }

    body {
        width: 70%;
        margin: 30px auto
    }

    .container-main section p {
        font-size: 20px;
        h1 {
            font-size: 30px;
        }
    }


}

@media screen and (max-width: 768px) {

    body {
        width: 80%;
        margin: 30px auto
    }

    section .d-flex {
        max-height: 20px;
        max-width: 125px;
    }

    .container-main {
        h1 {
            font-size: 25px;
        }
        section p {
            font-size: 15px;
        }
    }
    
}

@media screen and (max-width: 500px) {

    section .d-flex {
        display: none !important;
        max-height: 20px;
        max-width: 100px;
    }

    body {
        width: 100%;
        margin-top: 0;
    }
}