.festivales{
    max-width: 100%;
}

.festivales h3{
    border: solid 1px #fff;
    box-shadow: 0 0 10px 0 #fff;
    color: white;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    max-width: 60%;
}