/* --------HEADER---------- */
.position-relative{
    background-color: $color-background-img-nav;
}

#img-logo{
    max-height: 500px;
}

section .d-flex{
    max-width: 150px;
    max-height: 25px;
    bottom: 5%;
    right: 0;
}

.bg-propio{
    background-color: $color-background-nav;
}

.nav-item :hover{
    color: gray ;
}

nav ul li a:hover {
    background-color: rgb(205, 205, 205);
    color: gray;
}

.carousel-item{
    max-height: 600px;
}