/* -----MEDIA QUERY----- */

@media screen and (max-width: 1100px) {

    body {
        width: 80%;
        margin: 30px auto;

        //querys Index----
        .container-index {
            section {
                p {
                    font-size: 20px;
                }

                h1 {
                    font-size: 30px;
                }
            }
        }

        // Querys TALLERES-----
        .container-taller {
            .video-taller {
                iframe {
                    width: 90%;
                    height: 200px;
                    margin-left: 5%;
                }
            }

            .images-taller {
                min-width: 100%;

                .foto-taller {
                    min-width: 45%;
                    margin-bottom: 15px;
                }
            }
        }

        .taller3 {
            .btn {
                width: 70px;
            }

            img {
                width: 70%;
                margin-left: 15%;
            }
        }

        //querys ESPECTACULOS -----
        .videos {
            .lambe {
                .text-espect {
                    font-size: 1rem;
                }
            }

            .marioneta {
                .text-espect {
                    font-size: 1rem;
                }
            }

            .video-espectaculos {
                min-width: 90%;
                max-height: 300px;
            }
        }

        .pagina-lambe {
            .btn {
                width: 70px;
            }

            img {
                width: 70%;
                margin-left: 15%;
            }
        }

        .lambe-lambe {
            .milonga {
                p {
                    min-width: 80%;
                }

                a {
                    min-width: 70%;
                    margin-left: 15%;
                    margin-bottom: 20px;
                }
            }

            .carrusel-del-viejo-matias {
                p {
                    min-width: 80%;
                }

                a {
                    min-width: 70%;
                    margin-left: 15%;
                    margin-bottom: 20px;
                }
            }
        }

        .container-marionetas {
            .enderas {
                .gallery-marionetas {
                    max-width: 90%;
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }

    }

}

@media screen and (max-width: 768px) {

    body {
        width: 80%;

        //querys Index----
        .container-index {
            h1 {
                font-size: 25px;
            }

            section p {
                font-size: 15px;
            }
        }

        // Querys TALLERES-----
        .container-taller {
            .video-taller {
                iframe {
                    width: 90%;
                    height: 200px;
                    margin-left: 5%;
                }
            }

            .images-taller {
                min-width: 100%;

                .foto-taller {
                    min-width: 70%;
                    margin-bottom: 15px;
                }
            }
        }

        .taller3 {
            .btn {
                width: 50px;
            }

            img {
                width: 80%;
                margin-left: 10%;
            }
        }

        //querys ESPECTACULOS -----
        .videos {
            .lambe {
                min-width: 90%;
                margin: 10px;

                .text-espect {
                    font-size: 1rem;
                }

                .btn1 {
                    position: relative !important;
                }
            }

            .marioneta {
                .text-espect {
                    font-size: 1rem;
                }
            }

            .video-espectaculos {
                min-width: 90%;
                max-height: 300px;
            }
        }

        .pagina-lambe {
            .btn {
                width: 50px;
            }

            img {
                width: 80%;
                margin-left: 10%;
            }
        }

        .container-marionetas {
            .enderas {
                .gallery-marionetas {
                    max-width: 90%;
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }

        //Querys company---
        .container-company {

            .logo-movil {
                min-width: 70%;
                margin: auto;
            }

            .contactarme {
                min-width: 70%;
            }
        }


    }


}

@media screen and (max-width: 500px) {

    body {
        width: 100%;
        margin-top: 0;

        #img-logo {
            min-height: 200px;
        }

        // Querys TALLERES-----
        .container-taller {
            .video-taller {
                iframe {
                    width: 90%;
                    height: 200px;
                    margin-left: 5%;
                }
            }

            .images-taller {
                min-width: 100%;

                .foto-taller {
                    min-width: 70%;
                    margin-bottom: 15px;
                }
            }
        }

        //query Espectaculso
        .container-marionetas {
            .enderas {
                .gallery-marionetas {
                    margin: 0;
                    grid-template-columns: 1fr 1fr;
                    height: auto;
                }
            }
        }

        //Querys company---
        .container-company {

            .logo-movil {
                min-width: 90%;
                margin: auto;
            }

            .contactarme {
                min-width: 70%;
            }
        }
    }

}