.banner-inter{
    justify-content: center;
    border-bottom: solid 2px $color-background-img-nav;
    img{
        max-height: 500px;
    }
}

.container-inter{
    background-color: $color-background-container;
    h1{
        text-align: center;
        color: white;
        padding-bottom: 20px;
    }

    .libro{
        margin-left:20px;
    }
}
