.container-portfolio{
    background-color: $color-background-container;

    .porfolio{
        width: 50%;
        align-self: center;
        color: white;
        text-align: center;
        border: solid 2px white;
    }
}