.container-portfolio{
    background-color: $color-background-container;

    .porfolio{
        width: 100%;
        iframe{
            width: 100%;
            height: 600px;
        }
        
    }
}