.container-espectaculos {
    background-color: $color-background-container;

    h1 {
        padding-top: 15px;
        color: white;
        font-weight: 100;
        text-align: center;
    }

    p {
        color: aliceblue;
        text-align: center;
        font-size: 1.1rem;
    }

    .videos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 45px;
        padding-bottom: 20px;
        background-image: url(/images/logo-vertical-sinLetras-fondoContainer.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -50px;

        .videos-section1 {
            max-width: 100%;
            justify-content: space-around;
            align-items: center;

            .lambe {
                border: solid 1px;
                border-radius: 5px;
                background-color: $color-background-container;
                transition: 0.3s;
                max-width: 40%;

                .video-espectaculos {
                    width: 100%;
                }

                &:hover {
                    transform: scale(1.02);
                    box-shadow: 0 0 5px 1px white;
                }

                a {
                    text-decoration: none;
                }

                .btn1 {
                    bottom: 0;
                    margin: 10px;
                    font-size: 1.2rem;
                }
            }


            .marioneta {
                @extend .lambe;

                .video-espectaculos {
                    width: 100%;
                }

                &:hover {
                    transform: scale(1.02);
                    box-shadow: 0 0 5px 1px white;
                }

                a {
                    text-decoration: none;
                }

                .btn2 {
                    bottom: 0;
                    margin: 10px;
                    font-size: 1.2rem;
                }
            }
        }



        .videos-section2 {
            width: 100%;
            justify-content: space-around;

            h3 {
                color: white;
                text-align: center;
                margin-top: 20px;
            }

            .video-atelier {
                width: 40%;
                iframe {
                    width: 100%;
                    align-self: center;
                }
            }
            .video-lambe {
                width: 40%;
                iframe {
                    width: 100%;
                    align-self: center;
                }
            }
        }

    }
}

//Estilos cuando entras a pages/espectaculos-pages/lambelambe.html.
.lambe-lambe {
    background-color: $color-background-container;
    color: white;

    .btn {
        margin: 20px;

        i {
            font-size: 35px;
        }
    }

    h2 {
        text-align: center;
    }

    a {
        width: 100px;
    }


    article {
        border-top: 1px solid white;
        margin-bottom: 30px;
        padding: 20px;

        h3 {
            text-align: center;
        }
    }

    @mixin obras-lambe {
        p {
            max-width: 50%;
            margin: auto;
        }

        a {
            width: 35%;
            margin-left: 32.5%;
            margin-bottom: 20px;
        }
    }

    .bellos-y-bestias {
        @include obras-lambe();
    }

    .carrusel-del-viejo-matias {
        @include obras-lambe();
    }

    .milonga {
        @include obras-lambe();
    }
}

//Se comparten los estilos de cada obra de Lambe Lambe ruta: pages/espectaculos-pages/lambe-lame-pages.
.pagina-lambe {
    .btn {
        @include btn-back();
    }

    img {
        width: 50%;
        margin-left: 25%;
    }
}

//Estilos pagina Espectaculos/marionetas
.container-marionetas {
    @extend .lambe-lambe;

    .enderas {

        .description-enderas {
            max-width: 80%;
            margin: auto;
            margin-bottom: 30px;
        }

        .gallery-marionetas {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            max-width: 80%;
            margin: auto;
            padding-bottom: 20px;

            .gallery-marionetas-item {
                flex: 1 0 24rem;
                margin: 0.5rem;
                overflow: hidden;
                border-width: 0 !important
            }

            .gallery-marioneta-image {
                display: block;
                width: 100%;
                object-fit: cover;
                transition: transform 400ms ease-out;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        @supports (display: grid) {
            .gallery-marionetas {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }

            .gallery-marionetas-item {
                margin: 0;
            }
        }

        .btn-marionetas {
            margin-left: 35%;
            width: 30%;
            color: white;
            font-size: 1.2rem
        }
    }

}

//Estilos pagina espectaculos/marionetas/enderas
.pagina-enderas {
    a {
        @include btn-back;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;

    img {
        max-width: 90%;
        margin: 10px;
        border: solid 3px $color-background-nav;

    }
}