.container-main {
    .title-taller {
        h2 {
            color: white;
            font-size: 20px;
            text-align: center;
        }

        p {
            color: white;
            max-width: 60%;
            margin: 20px auto;
            font-size: 20px;
            text-align: center;
        }
    }

    #cards-taller {
        max-width: 90%;
        margin: auto;

        .card {
            background-color: rgb(35, 35, 35);
            border: 1px solid rgb(108, 108, 108);
            min-width: 50%;
            color: white;
            margin: 10px;
            transition: 0.3s;

            &:hover {
                box-shadow: 0 5px 5px 1px rgb(106, 106, 106);
            }
        }
    }

    .carta {
        @extend .card;
        max-width: 40%;
        >img {
            max-width: 100%;
        }
    }
}